@media screen and (max-width: 850px) {
    p.offer-para {
        padding: 15px 58px;
        font-size: 17px;
    }

    nav.navbar {
        padding: 10px;
    }

    img.nav-logo {
        width: 70px;
    }

    .links {
        display: none;
    }
    ul li{
        padding: 26px 10px;
    }

    ul li a.nav-items {
        font-size: 18px;
        padding: 0px 16px;
    }

    #nav-links-unorder {
        padding-top: 10px;
        display: flex;
        padding-top: 14px;
        flex-direction: column;
        position: absolute;
        padding-top: 10px;
        z-index: 2;
        background-color: #000000d6;
        left: 0px;
        height: 105vh;
        top: 70px;
        width: 50%;
        padding: 18px 21px;
        display: block;
    }
    
    i.icons {
        font-size: 16px;
    }

    #all-icons {
        padding-top: 8px;
    }

    .none {
        display: none;
    }

    .active {
        display: block !important;
    }

    .burger {
        padding-top: 8px;
        display: none;
    }

    .bi-list {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .cross {
        padding-top: 8px;
        display: none;
        position: relative;
    }

    .bi-x-lg {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: -292px;
    }
}